@charset "utf-8";
/* CSS Document */
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset {
	margin:0;
	padding:0;
	border:0;
}

body, input { 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	background-color:black; 
	color:white; 
	font-size:16px; 
	}

header { padding:0 0 10px 0; }
footer { padding:10px 10px 10px 10px; font-size:10px; }
span   { display:inline-block; }
table  { border-collapse:collapse; }
th, td { padding:4px; }
a:link    { color:cyan;    }
a:active  { color:red;     }
a:visited { color:magenta; }
a:link:hover, a:visited:hover { color:green; }
hr {font-size:6px;}

#wrapper, #wrapper2 { border-radius:24px; }
#wrapper2 {
	background-color:#111111;
	min-height:480px; 
	padding:0px;
}
#wrapper {
	min-width:655px; max-width:1250px;
	background-color:#222222;
	min-height:500px; 
	padding:12px;
	margin:20px auto;
}
.checkbox_style {text-align:center;width:25px; }
.item_style		{text-align:left;  width:218px;}
.serving_style  {text-align:left;  width:100px;}
.cal_style      {text-align:right; width:40px; }
.protein_style  {text-align:right; width:58px; }
.carbs_style    {text-align:right; width:45px; }
.fat_style      {text-align:right; width:50px; }
.sodium_style   {text-align:right; width:55px; }
.delete_style   {text-align:right; width:20px; }

input { 
/*	width:110px; 	*/
	text-align:center; 
	margin-bottom:5px; 
	}
.whitebox .drop, .greybox .drop { float:left; line-height:1.6em; padding-bottom:10px; }
.whitebox .drop input[type=checkbox] { margin-top:.35em;}

input:focus { background-color:cyan; color:black; }

.info   {line-height:1.42em;}

label   {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; color:#EEEEEE; line-height:1.42em; padding-right:8px;}

.list { float:left; padding-right:20px; }

#counter, #item, #qty, #desc { float:left; padding-right:10px; }
#counter, #desc {line-height:1.458em; margin-top:-7px; font-size:20px; line-height:1.6em }
#desc input {width:470px;}
#qty  input {width:40px; }
#qty {text-align:center; }

#error {color:red; font-style:italic;}

.category_heading { font-size:24px; font-weight:bold; font-style:italic; }
.color_P {color:#FF3399;}
.color_C {color:#0CF;}
.color_F {color:#6C6;}
.color_O {color:#CC99FF;}
/*
 *	Buttons
 */

.buttons { padding-top:10px; }
.buttons a, .buttons a:hover { color:white; padding:12px 55px; } /* padding lr depends on the text in the <a> tag to make the total 150px */
.greybox a, .greybox a:hover { color:white; padding:6px 10px; }

.sblue_up, .sblue_down, .red_up, .red_down, .green_up, .green_down, .blue_up, .blue_down, .pink_up, .pink_down, .admin_up, .admin_down, .del_up, .del_down {
	width:140px;
	padding:12px 20px; 
	font-size:18px; 
	border-radius:24px; 
	color:white; 
	border:none; 
	font-weight:bold; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 
	text-decoration:none; 
/*	letter-spacing:.1em;  */
}
.admin_up, .admin_down { width:180px; }
.sblue_up, .sblue_down { width:100px; font-size:14px; }

.red_up     { background-image:linear-gradient(to bottom, #FF8888 0%, #CC3333 100%); }
.red_down   { background-image:linear-gradient(to bottom, #CC3333 0%, #FF8888 100%); }
.green_up   { background-image:linear-gradient(to bottom, #BBc577 0%, #61923b 100%); }
.green_down { background-image:linear-gradient(to bottom, #61923b 0%, #BBc577 100%); }
.sblue_up,
.blue_up    { background-image:linear-gradient(to bottom, #59707E 0%, #0E1F33 100%); }
.sblue_down,
.blue_down  { background-image:linear-gradient(to bottom, #0E1F33 0%, #59707E 100%); }
.pink_up    { background-image:linear-gradient(to bottom, #FFBBFF 0%, #FF66FF 100%); }
.pink_down  { background-image:linear-gradient(to bottom, #FF66FF 0%, #FFBBFF 100%); }
.del_up     { background-image:linear-gradient(to bottom, #FF8888 0%, #CC3333 100%); }
.del_down   { background-image:linear-gradient(to bottom, #CC3333 0%, #FF8888 100%); }
.admin_up   { background-image:linear-gradient(to bottom, #6F735A 0%, #070D0D 100%); }
.admin_down { background-image:linear-gradient(to bottom, #070D0D 0%, #6F735A 100%); }

.del_up, .del_down {
	width:14px;
	padding:0px 0px; 
	font-size:11px; 
}

.whitebox, .greybox { 
	margin-left:10px; margin-top:10px;
	padding:12px; border-radius:20px; display:inline-block;
	background:rgba(255, 255, 255, 0.1);
}
.whitebox, #list_meals { float:left; }
.greybox  {	text-align:left; }
.greenbox {
	padding:20px; border-radius:20px;
	background:rgba(140, 190,  70, 0.3);
}
.bluebox {
	padding:20px; border-radius:20px; display:inline-block;
	background:rgba(0, 0, 255, 0.2);
}
.purplebox {
	padding:5px;  border-radius:10px; display:inline-block;
	background:rgba(200, 0, 200, 0.2);
}

#logo {float:left; width:590px;} 
#instructions {float:left; padding: 10px 0 20px 80px; text-align:left; width::550px;}
#instructions ol {margin-left:40px;}

/*
 *	Drag, Drop and Clone
 */
.col {
	float:left;
	padding:5px 5px 5px 5px;
	margin:5px 5px 5px 5px;
}
#col1 {
	width:590px;
	height:auto;
	border:1px solid black;
}
img.drag {
	width:40px;
	height:40px;
	position:relative;
}
#droppable {
	width:590px;
	height:340px;
	border:1px solid black;
}
.right {float:right;}
.left  {float:left; }
.clear {clear:both; }
ul li  {list-style:none;}
.drag-list img {
	width:80px;
	vertical-align:middle;
	cursor:move;
}
.drag-list ul {
	margin:0px;
	padding:0px;
}
.drag-list li {
	margin-bottom:5px;
}
.remove-drag-hover {
	background-color:#ED4949 !important;
}
.drop-area {
	background-color:#afd1b2;
}
.xicon {
	margin-top:4px;
	position:absolute;
	margin-left:-17px;
	color:#FFF;
	font:message-box;
	text-decoration:none;
}
.xicon:hover {
	background-color:#fff;
	color:#000;
	width:13px;
	height:20px;
	text-align:center;
}
.tip {
	font-size:12px;
	clear:both;
}
