body    { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; }
table   { border-collapse: collapse; }
td, th  { border: 1px solid #CCC; padding:1px 3px; }
.right  { text-align:right; }
.noside { border-right:none; border-left:none; }
footer  { width:550px; }
.whitebox .drop, .greybox .drop { float:left; }
.color_P {color:#FF3399;}
.color_C {color:#06C;}
.color_F {color:#060;}
.color_O {color:#93C;}
